.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.logo {
  width: 50px;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 16px;
 /*  border: none; */
  cursor: pointer;
  margin-right: 50px;
}

.dropdownContent {
  margin-top: 5px;
  display: none;
  position: absolute;
  right: 0;
  background-color: whitesmoke;
  min-width: 160px;
  z-index: 1;
  font-size: 12px;
  border-radius: 5px;
}

.dropdownContent a {
  color: black;
  padding: 8px 4px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
