.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  position: relative;
  margin-bottom: 3rem;
  padding-top: 2rem;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: -1;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
  min-width: 1288px;
}

.leftContent, .selfie, .pownerInfo {
  flex-shrink: 0;
}

.selfie {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 17rem;;
  box-shadow: rgba(255, 255, 255, 0.20) 0px 50px 100px -20px, rgba(255, 255, 255, 0.25) 0px 30px 60px -30px, rgba(10, 37, 64, 0.30) 0px -2px 6px 0px inset;
}

.selfie:hover {
  transition: transform 1s;
  transform: translateY(-5%) scale(1.09);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.30) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.pownerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 300px;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.713);
  white-space: pre-wrap;
}

.iconRow {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 3rem;;
}

/* ADD RESPONSIVE */

@media (max-width: 1288px) {
  .section1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 120%;
  }

  .selfie {
    width: 250px;
    height: 250px;
  }

  .iconRow>* {
    font-size: 45px;
  }
  .pownerInfo {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .selfie {
    width: 200px;
    height: 200px;
  }

  .iconRow>* {
    font-size: 40px;
  }

  .pownerInfo h2 {
    font-size: 1.3rem;
  }

  .pownerInfo p {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .selfie {
    width: 150px;
    height: 150px;
  }

  .iconRow>* {
    font-size: 35px;
  }

  .pownerInfo h2 {
    font-size: 1.1rem;
  }

  .pownerInfo p {
    font-size: 1rem;
  }
}

@media (max-width: 628px) {
  .selfie {
    width: 100px;
    height: 100px;
  }

  .iconRow>* {
    font-size: 30px;
  }

  .pownerInfo h2 {
    font-size: 1rem;
  }

  .pownerInfo p {
    font-size: 0.9rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
