.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  width: 100%;
}

.card {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  flex: 1 0 21%;
  max-width: 21%;
}
